@page "/"


    <section class="py-5 my-4">
        <div class="container-lg px-4">
            <p class="text_blue fw_600 mb-3">Membership Plans</p>
            <h2 class="h3 fw_600 mb-3">2 Ways to Save on Shipping</h2>
            <div class="text_silver mb-5">
                <p class="mb-0">- Heavily discounted rates on shipping labels thanks to our volume accounts with world
                    class carriers and partners</p>
                <p class="mb-0">- Your own local US and Canadian address for fast low cost cross-border transfers</p>
            </div>

            <div class="row mb-lg-5 mb-4 justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-10 mb-lg-0 mb-4">
                    <div class="shipping_grid_item">
                        <div class="mb-auto">
                            <div class="d-flex align-items-center mb-4">
                                <img src="img/shipping-grid-item-icon-1.svg" class="me-3" alt="">
                                <h5 class="mb-0 fw_600">Free</h5>
                            </div>
                            <h4 class="text_blue fw_600 mb-4">$0</h4>
                            <ul class="shipping_grid_list">
                                <li><img src="img/shipping-grid-item-list-icon.svg" alt=""> Personal Dashboard</li>
                                <li><img src="img/shipping-grid-item-list-icon.svg" alt=""> Your US ShipLink Address
                                </li>
                                <li><img src="img/shipping-grid-item-list-icon.svg" alt=""> Your Canadian ShipLink
                                    Address</li>
                                <li><img src="img/shipping-grid-item-list-icon.svg" alt=""> SLA to SLA Cross-Border
                                    Services</li>
                                <li><img src="img/shipping-grid-item-list-icon.svg" alt=""> Package Forwarding Services
                                </li>
                                <li><img src="img/shipping-grid-item-list-icon.svg" alt=""> Self Pick-Up at ShipLink
                                    Terminals</li>
                                <li><img src="img/shipping-grid-item-list-icon.svg" alt=""> Consolidation Services</li>
                                <li><img src="img/shipping-grid-item-list-icon.svg" alt=""> Discounted Shipping Labels
                                </li>
                            </ul>
                        </div>

                        <div class="pt-3">
                            <a href="#" class="shipping_grid_btn">Get My Account</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10 mb-lg-0 mb-4">
                    <div class="shipping_grid_item">
                        <div class="mb-auto">
                            <div class="d-flex align-items-center mb-4">
                                <img src="img/shipping-grid-item-icon-2.svg" class="me-3" alt="">
                                <h5 class="mb-0 fw_600">Premium<span class="fw-light">/month</span></h5>
                            </div>
                            <h4 class="text_blue fw_600 mb-4">$9.99</h4>
                            <ul class="shipping_grid_list">
                                <li><img src="img/shipping-grid-item-list-icon.svg" alt=""> Personal Dashboard</li>
                                <li><img src="img/shipping-grid-item-list-icon.svg" alt=""> Your US ShipLink Address
                                </li>
                                <li><img src="img/shipping-grid-item-list-icon.svg" alt=""> Your Canadian ShipLink
                                    Address</li>
                                <li><img src="img/shipping-grid-item-list-icon.svg" alt=""> SLA to SLA Cross-Border
                                    Services</li>
                                <li><img src="img/shipping-grid-item-list-icon.svg" alt=""> Package Forwarding Services
                                </li>
                                <li><img src="img/shipping-grid-item-list-icon.svg" alt=""> Self Pick-Up at ShipLink
                                    Terminals</li>
                                <li><img src="img/shipping-grid-item-list-icon.svg" alt=""> Consolidation Services</li>
                                <li><img src="img/shipping-grid-item-list-icon.svg" alt=""> Level 2 Discount Shipping
                                    Labels</li>
                                <li><img src="img/shipping-grid-item-list-icon.svg" alt=""> Pallet Reception</li>
                            </ul>
                        </div>

                        <div class="pt-2">
                            <a href="#" class="shipping_grid_btn">Get My Account</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10 mb-lg-0 mb-4">
                    <div class="shipping_grid_item">
                        <div class="mb-auto">
                            <div class="d-flex align-items-center mb-4">
                                <img src="img/shipping-grid-item-icon-3.svg" class="me-3" alt="">
                                <h5 class="mb-0 fw_600">Business<span class="fw-light">/month</span></h5>
                            </div>
                            <h4 class="text_blue fw_600 mb-4">$99.99</h4>
                            <ul class="shipping_grid_list">
                                <li><img src="img/shipping-grid-item-list-icon.svg" alt=""> Business Dashboard</li>
                                <li><img src="img/shipping-grid-item-list-icon.svg" alt=""> Your US ShipLink Address
                                </li>
                                <li><img src="img/shipping-grid-item-list-icon.svg" alt=""> Your Canadian ShipLink
                                    Address</li>
                                <li><img src="img/shipping-grid-item-list-icon.svg" alt=""> SLA to SLA Cross-Border
                                    Services</li>
                                <li><img src="img/shipping-grid-item-list-icon.svg" alt=""> Package Forwarding Services
                                </li>
                                <li><img src="img/shipping-grid-item-list-icon.svg" alt=""> Self Pick-Up at ShipLink
                                    Terminals</li>
                                <li><img src="img/shipping-grid-item-list-icon.svg" alt=""> Consolidation Services</li>
                                <li><img src="img/shipping-grid-item-list-icon.svg" alt=""> Level 3 Discount Shipping
                                    Labels</li>
                                <li><img src="img/shipping-grid-item-list-icon.svg" alt=""> Pallet Reception</li>
                                <li><img src="img/shipping-grid-item-list-icon.svg" alt=""> Account Manager</li>
                            </ul>
                        </div>

                        <div class="pt-2">
                            <a href="#" class="shipping_grid_btn">Get My Account</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <a href="#" class="shipping_blue_btn">More on Plans and Pricing</a>
            </div>
        </div>
    </section>

<section id="Mailboxes" class="py-5 bg_blue_gradient">
        <div class="container-lg px-4 pt-3">
            <div class="row mb-md-5 mb-4 flex-lg-row flex-column-reverse">
                <div class="col-lg-6">
                    <div>
                        <h2 class="h3 fw_600 text_blue mb-3">Cross-Border Mailboxes</h2>
                        <p class="h5 text-dark fw_600 mb-4">How it Works</p>
                        <p class="fw_400 text_silver">With our Cross-Border Mailbox service you receive your packages
                            and documents within their originating country in the most convenient, fast and economical
                            way. With your ShipLink address you can make purchases online at your favorite stores,
                            subscribe to magazines, receive correspondence and much more without the extra costs of
                            international shipping and brokerage surcharges for items worth less than $800.</p>
                    </div>
                </div>
                <div class="col-lg-6 mb-lg-0 mb-3">
                    <div>
                        <img src="img/mailboxes_right_img.jpg" class="w-100 mailboxes_right_img" alt="">
                    </div>
                </div>
            </div>

            <div>
                <h5 class="fw_600 mb-5">Buy and Receive</h5>
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-lg-0 mb-4">
                        <div class="buy_a_review_grid">
                            <img src="img/buy_a_review_grid_1.svg" width="50" class="mb-3" alt="">
                            <h4 class="fw_600 mb-3 fs_20">1. Register</h4>
                            <p class="mb-0 text_silver">Register for free and get your new shipping address to receive
                                your purchases online.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-lg-0 mb-4">
                        <div class="buy_a_review_grid">
                            <img src="img/buy_a_review_grid_2.svg" width="50" class="mb-3" alt="">
                            <h4 class="fw_600 mb-3 fs_20">2. Shop</h4>
                            <p class="mb-0 text_silver">Shop at your favorite online store and use your new local
                                shipping address</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-lg-0 mb-4">
                        <div class="buy_a_review_grid">
                            <img src="img/buy_a_review_grid_3.svg" width="50" class="mb-3" alt="">
                            <h4 class="fw_600 mb-3 fs_20">3. Pick up or Receive</h4>
                            <p class="mb-0 text_silver">Pick up your purchases at your ShipLink Mailbox branch or
                                Receive them at your door via our cross-border transfer service</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container-lg px-4">
            <div class="section_bg">
                <img class="bg" src="img/free-account-bg.jfif" alt="">
                <div class="py-5 px-4 text-white content text-center">
                    <h2 class="fw-semibold mb-4">Free Account</h2>
                    <p class="br_md_none mb-4">Join us for great benefits by getting your Free Account right now! <br>
                        Enjoy exclusive access to our specialized services, unique features and unmatched prices</p>
                    <a href="#" class="btn_red">Get My Free Account Now</a>
                </div>
            </div>
        </div>
    </section>

<section id="Labels" class="py-5 bg_blue_gradient">
        <div class="container-lg px-4 pt-3">
            <div class="mb-5">
                <h3 class="text_blue mb-5">Shipping Labels</h3>
                <div class="row mb-5">
                    <div class="col-lg-5 col-md-6 pe-md-5 pe-4 mb-md-0 mb-3">
                        <div class="shipping_label_img">
                            <img src="img/shipping_label_img.jpg" alt="">
                            <div class="shipping_label_text">
                                <p class="fw_600 mb-1 h6">Lorem Ipsum</p>
                                <p class="mb-0">Lorem ipsum dolor sit amet consectetur. Eu congue risus sagittis rhoncus
                                    leo elementum. Fringilla condimentum odioLorem ipsum dolor sit amet consectetur. Eu
                                    congue risus sagittis rhoncus leo elementum. Fringilla condimentum odio</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 mb-md-0 mb-3">
                        <div class="h-100">
                            <p class="fw_600 mb-4">How it Works</p>

                            <div>
                                <div class="shipping_label_item">
                                    <img src="img/shipping_label_img_1.svg" alt="">
                                    <div class="right_i">
                                        <p class="fs_18 fw_600 mb-2">1. Get an Instant Quote</p>
                                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur. Ultrices pulvinar sed
                                            purus sit. </p>
                                    </div>
                                </div>
                                <div class="shipping_label_item">
                                    <img src="img/shipping_label_img_2.svg" alt="">
                                    <div class="right_i">
                                        <p class="fs_18 fw_600 mb-2">2. Select Service and Carrier</p>
                                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur. Ultrices pulvinar sed
                                            purus sit. </p>
                                    </div>
                                </div>
                                <div class="shipping_label_item">
                                    <img src="img/shipping_label_img_3.svg" alt="">
                                    <div class="right_i">
                                        <p class="fs_18 fw_600 mb-2">3. Print Label, Stick it On, and Ship</p>
                                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur. Ultrices pulvinar sed
                                            purus sit. </p>
                                    </div>
                                </div>
                                <div class="shipping_label_item">
                                    <img src="img/shipping_label_img_4.svg" alt="">
                                    <div class="right_i">
                                        <p class="fs_18 fw_600 mb-2">4. Track it</p>
                                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur. Ultrices pulvinar sed
                                            purus sit. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <a href="#" class="btn_red">More Details</a>
                </div>
            </div>

            <div class="section_bg">
                <img class="bg" src="img/free-account-bg-2.jpg" alt="">
                <div class="py-5 px-4 text-white content text-center">
                    <h2 class="fw-semibold mb-4">Sign Up</h2>
                    <p class="br_md_none mb-4">Join us for great benefits by getting your account right now! <br>
                        Enjoy exclusive access to our specialized services, unique features and unmatched prices</p>
                    <a href="#" class="btn_red">Get My Account</a>
                </div>
            </div>
        </div>
    </section>

    <section id="AboutUs" class="py-5">
        <div class="container-lg px-4">
            <h2 class="txt_blue fw-semibold mb-4">Why Choose ShipLink?</h2>

            <div class="bg_blue p-4 pb-0 corner_8">
                <div class="row shiplink_grid">
                    <div class="col-lg-4 col-md-6 d-flex mb-4">
                        <div class="box p-3">
                            <div class="icon">
                                <img src="img/website.svg" alt="">
                            </div>
                            <div class="text-white flex_1 ps-3">
                                <h5 class="fw-semibold">Website</h5>
                                <p class="mb-0">With our advanced website platform you can buy, track and control in
                                    real time, all in one place.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex mb-4">
                        <div class="box p-3">
                            <div class="icon">
                                <img src="img/credit-card.svg" alt="">
                            </div>
                            <div class="text-white flex_1 ps-3">
                                <h5 class="fw-semibold">Online Payment</h5>
                                <p class="mb-0">Make your payments online for fast collection at branches and terminals.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex mb-4">
                        <div class="box p-3">
                            <div class="icon">
                                <img src="img/weight.svg" alt="">
                            </div>
                            <div class="text-white flex_1 ps-3">
                                <h5 class="fw-semibold">By Weight</h5>
                                <p class="mb-0">You only pay for what it weighs, you do not pay for volumetric weight.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex mb-4">
                        <div class="box p-3">
                            <div class="icon">
                                <img src="img/coin.svg" alt="">
                            </div>
                            <div class="text-white flex_1 ps-3">
                                <h5 class="fw-semibold">ShipLink Points</h5>
                                <p class="mb-0">You accumulate points that you can redeem for discounts on our services.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex mb-4">
                        <div class="box p-3">
                            <div class="icon">
                                <img src="img/pin-distance.svg" alt="">
                            </div>
                            <div class="text-white flex_1 ps-3">
                                <h5 class="fw-semibold">Branches</h5>
                                <p class="mb-0">Several terminals and branches in the US and Canada at your disposal</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex mb-4">
                        <div class="box p-3">
                            <div class="icon">
                                <img src="img/align center.svg" alt="">
                            </div>
                            <div class="text-white flex_1 ps-3">
                                <h5 class="fw-semibold">Tiered Rate</h5>
                                <p class="mb-0">The heavier your package, the cheaper your rate per pound.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <section id="Partners" class="py-5  bg-light">
            <div class="container-fluid  px-5 overflow-hidden">
                <h2 class="text-center fw-semibold mb-4">Our World Class Partners and Carriers</h2>
                <p class="text-center mb-5">We only work with the world’s most reputable carriers</p>

                <div class=" partner_slider mx-5 px-5">
                    <div class="swiper-wrapper me-5 px-5 flex d-flex justify-content-between ">
                        <div class="swiper-slide flex-column "><a href="#"><img src="img/slide-1.png" alt=""></a></div>
                        <div class="swiper-slide flex-column"><a href="#"><img src="img/slide-2.png" alt=""></a></div>
                        <div class="swiper-slide flex-column"><a href="#"><img src="img/slide-3.png" alt=""></a></div>
                        <div class="swiper-slide flex-column"><a href="#"><img src="img/slide-4.png" alt=""></a></div>
                        <div class="swiper-slide flex-column"><a href="#"><img src="img/slide-5.png" alt=""></a></div>
                        <div class="swiper-slide flex-column pe-5"><a href="#"><img src="img/slide-6.png" alt=""></a></div>
                    </div>

                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>

    <footer>
        <div class="bg_light2">
            <div class="container-lg px-4 py-5">
                <div>
                    <a class="txt_red text-decoration-none d-inline-block mb-4 d-md-none d-block" href="#"><span
                            class="h4 mb-0 fw-bold">ShipLink</span></a>
                </div>
                <div class="row flex-md-row flex-column-reverse">
                    <div class="col-md-6 col-sm-5 mb-lg-0 mb-4">
                        <a class="txt_red text-decoration-none d-inline-block mb-5 d-md-block d-none" href="#"><span
                                class="h4 mb-0 fw-bold">ShipLink</span></a>
                        <div class="mb-4">
                            <p class="opacity-75">Email Support</p>
                            <a href="mailto:Support@shiplink.ca" class="btn_footer fw_500 d-flex align-items-center"><i
                                    class="fa-regular fa-envelope me-2 fs-5"></i> Support@shiplink.ca</a>
                        </div>
                        <div>
                            <p class="opacity-75">Follow Us</p>
                            <div class="d-flex gap-4">
                                <a href="facebook.com" class="btn_footer fw_500"><i
                                        class="fa-brands fa-facebook fs-5"></i></a>
                                <a href="twitter.com" class="btn_footer fw_500"><i
                                        class="fa-brands fa-x-twitter fs-5"></i></a>
                                <a href="instagram.com" class="btn_footer fw_500"><i
                                        class="fa-brands fa-instagram fs-5"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-lg-end pt-4 mb-md-0 mb-5 footer_links_wrap">
                        <ul class="footer_links mx-md-auto">
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Support</a>
                            </li>
                            <li>
                                <a href="#">Membership</a>
                            </li>
                            <li>
                                <a href="#">How it works</a>
                            </li>
                        </ul>
                        <ul class="footer_links">
                            <li>
                                <a href="#">Shipping Calculator</a>
                            </li>
                            <li>
                                <a href="#">Prohibited Items</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                            <li>
                                <a href="#">Info</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg_dark py-2">
            <div class="container-lg px-4">
                <div class="row text-md-start text-center">
                    <div class="col-md-4 mb-md-0 mb-2">
                        <p class="mb-0 text-white fs_14 fw-light">© 2023 ShipLink.ca</p>
                    </div>
                    <div class="col-md-8">
                        <p class="mb-0 text-white fs_14 fw-light">Terms and Conditions <span
                                class="d-inline-block mx-4">|</span> Privacy Policy</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

   
